{
 "env": {
   "browser": true,
   "es2022": true,
   "webextensions": true,
   "jquery": true
 },
 "extends": ["eslint:recommended"],
 "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module"
 }
}
